<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImplantController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ImplantController.Properties.Settings>
            <setting name="save_interval" serializeAs="String">
                <value>3.2</value>
            </setting>
            <setting name="version" serializeAs="String">
                <value>1.0.0</value>
            </setting>
            <setting name="version_date" serializeAs="String">
                <value>11.05.2023.</value>
            </setting>
            <setting name="contact" serializeAs="String">
                <value>ian.bogdan@gmail.com</value>
            </setting>
            <setting name="last_opened_dir" serializeAs="String">
                <value>C:\Users\Ian\source\repos\ImplantController\ImplantController\bin\Debug</value>
            </setting>
            <setting name="hide_lines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="last_sent_value" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="chart_window_size" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="PlatformSelector" serializeAs="String">
                <value>Planar</value>
            </setting>
            <setting name="IEMSelector" serializeAs="String">
                <value>C-HPG</value>
            </setting>
            <setting name="CapillaryCoatingSelector" serializeAs="String">
                <value>Poly imide</value>
            </setting>
            <setting name="IEMGeometrySelector" serializeAs="String">
                <value>Circular</value>
            </setting>
            <setting name="SourceSelector" serializeAs="String">
                <value>Tz (K2)</value>
            </setting>
            <setting name="SolventSelector" serializeAs="String">
                <value>PBS</value>
            </setting>
            <setting name="TargetSelector" serializeAs="String">
                <value>PBS</value>
            </setting>
            <setting name="ConcentrationValue" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ChannelNumberValue" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DiameterValue" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="WidthValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LengthValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FullLengthValue" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SourceConcentrationValue" serializeAs="String">
                <value>0.33</value>
            </setting>
            <setting name="TargetConcentrationValue" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="TargetSolventSelector" serializeAs="String">
                <value>PBS</value>
            </setting>
            <setting name="SourceConcentrationUnitSelector" serializeAs="String">
                <value>mM</value>
            </setting>
            <setting name="TargetConcentrationUnitSelector" serializeAs="String">
                <value>mM</value>
            </setting>
            <setting name="last_opened_dir_DataExplorer" serializeAs="String">
                <value>C:\Users\Ian\source\repos\ImplantController\ImplantController\bin\Debug\DataFiles\Data</value>
            </setting>
            <setting name="last_opened_dir_Templates" serializeAs="String">
                <value>C:\Users\Ian\source\repos\ImplantController\ImplantController\bin\Debug\DataFiles\Templates</value>
            </setting>
            <setting name="chart_font_size2" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="chart_line_thickness" serializeAs="String">
                <value>2</value>
            </setting>
        </ImplantController.Properties.Settings>
    </userSettings>
</configuration>